* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
}

.canvas-header{
    /* position: relative; */
    display: flex;
    justify-content: center;
    padding: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.canvas-container{
    position: relative;
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    height: 640px;
    width: 100%;
}

canvas{
    position: absolute;
    top: 0;
    left: calc(50% - 224);
}

/* .canvas-main{
    display: block;
    border: 1px solid grey;
    z-index: 1;
}

.canvas-dmg{
    z-index: 2;
} */